.header {
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 112px;
    padding-right: 97px;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 32px;
    font-size: 17px;

}

.header a:hover {
    color: rgb(223, 184, 112);
}